body {
    background: black;
    overflow:hidden;
}
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.moving-star {
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(-100vh);
    }
}
.teambutton{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 5vh;
    color: white;
    font-family:monospace;
    padding: 10px;
    border-color:white;
    margin-top: 4vh;
    transition: all 0.3s ease-in-out;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    margin:10%;
    height:25%;
    width:25%;
}
.teambutton:hover{
    transform: translateY(-5px);
    background-color:teal;
}
#teambutton1.customHover:hover{
    background-color:gray;
}
#teambutton2.customHover:hover{
    background-color:gray;
}
#teambutton3.customHover:hover{
    background-color:gray;
}