body {
    background: black;
    overflow:hidden;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: index 0;;
}
.images{
    position:relative;
    top:3vh;
    z-index: 1;
    text-align: center;
}

.top{
    text-align: center;
}
.top img{
    display: block;
    margin: 0 auto;
}
.bottom{
    position:relative;
    display:flex;
    justify-content: space-between;
}
img{
    max-height: 25vh;
}
.bottomleft{
    text-align: center;
    margin-left:6%;
}
.bottomleft img{
    display: block;
    margin: 0 auto;
}
.bottomright{
    text-align: center;
    margin-right:6%;
}
.bottomright img{
    display: block;
    margin: 0 auto;
}

.buttons{
    position:relative;
    top:500px;
    text-align: center;
}
.charge{
    max-width:20vh;
}
.hearts{
    max-width: 20vh;
}
.question{
    position:relative;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50vh;
    font-size: 5vh;
    color: white;
    font-family:monospace;
    padding: 2vh;
    border-color:white;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.question:hover{
    transform: translateY(-10px);
    background: teal;
}
#attack1{
    position:relative;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 2vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 1vh;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
#attack2{
    position:relative;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 2vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 1vh;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
#attack3{
    position:relative;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 2vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 1vh;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
#attack1:hover{
    transform: translateY(-5px);
    background-color: red;
}
#attack2:hover{
    transform: translateY(-5px);
    background-color: red;
}
#attack3:hover{
    transform: translateY(-5px);
    background-color: red;
}
#img1.activated{
    transition: all 0.3s ease-in-out;
    cursor:pointer
}
#img1.activated:hover{
    background-color: red;
}
#img2.activated{
    transition: all 0.3s ease-in-out;
    cursor:pointer
}
#img2.activated:hover{
    background-color: red;
}
#img3.activated{
    transition: all 0.3s ease-in-out;
    cursor:pointer
}
#img3.activated:hover{
    background-color: red;
}