body {
    background: black;
    overflow:hidden;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.teams{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin:2vh;
    padding:1vh;
    
}

.team1, .team2, .team3{
    flex:1;
    text-align:center;
    margin:0;
    padding:1vh;
    font-size: 2.5vh;
}
h1{
    color:white;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


/*DROP SHADOWS*/
.teamtitle1{
    text-shadow:
    1px 1px 1px red,
    2px 2px 1px red;
}
.teamtitle2{
    text-shadow:
    1px 1px 1px blue,
    2px 2px 1px blue;
}
.teamtitle3{
    text-shadow:
    1px 1px 1px green,
    2px 2px 1px green;
}

.center{
    text-align: center;
}

.start{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50vh;
    font-size: 4vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 1vh;
}
.bottomleft{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.bottomright{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}
.start1{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50vh;
    font-size: 2vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 1vh;
}
.start:hover{
    background-color: teal;
}

p{
    color: white;
    font-size: 2vh;
}
/*Randomize Team Button*/
.randomizeTeam{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50vh;
    font-size: 3vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 2vh;
}

.randomizeTeam:hover{
    background-color:teal;
}