body {
    background: black;
    overflow:hidden;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.button{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 75px;
    color: white;
    font-family:monospace;
    padding: 10px;
    border-color:white;
    margin-top: 7%;
}
#correct{
    color:darkgreen;
}
#incorrect{
    color:red;
}
.button:hover{
    background-color: teal;
}
h1{
    color:white;
    font-size: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    position:relative;
    top:150px;
    text-align: center;
    justify-content: center;
}
.buttons{
    display:flex;
    position:relative;
    left:50%;
    top:150px;
    transform:translate(-50%);
    align-items: center;
    width:80%;
    justify-content: space-between;
}
.answer{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 50px;
    color: white;
    font-family:monospace;
    padding: 10px;
    border-color:white;
    margin-top: 7%;
}
.answer:hover{
    background-color: teal;
}
#revealedAnswer.on{
    color:white;
    font-size: xx-large;
}