body {
    background: black;
    overflow:hidden;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.button{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50vh;
    font-size: 5vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 2vh;
}
#correct{
    color:darkgreen;
}
#incorrect{
    color:red;
}
.button:hover{
    background-color: teal;
}
h1{
    color:white;
    font-size: 5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    position:relative;
    top:7vh;
    text-align: center;
    justify-content: center;
}
.buttons{
    display:flex;
    position:relative;
    left:50%;
    top:10vh;
    transform:translate(-50%);
    align-items: center;
    width:80%;
    justify-content: space-between;
}
.answer{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 5vh;
    color: white;
    font-family:monospace;
    padding: 1vh;
    border-color:white;
    margin-top: 3vh;
}
.answer:hover{
    background-color: teal;
}
#revealedAnswer.on{
    color:white;
    font-size: 5vh;
}